<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body class="hold-transition register-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-2">
				<!-- menuyu replace etmek için -->
				<div th:replace="fragment/menu.html :: menu"></div>
			</div>
			<div class="col-10">
				<div class="register-box">
				<h3>Hoşgeldiniz</h3>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
</html>