<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>

<body>
<div class="container-fluid text-center">
	<div class="row">
		<div class="col-2">
			<!-- menuyu replace etmek için -->
			<div th:replace="fragment/menu.html :: menu"></div>
		</div>
		<div class="col-10">
			<div>
				<img class="img-fluid" th:src="@{images/pc.png}" />
			</div>
			<form th:action="@{/verify}" th:object="${user}"  method="get" style="max-width: 350px; margin: 0 auto; margin-top:40px">

				<div th:if="${param.error}">
					<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
				</div>

				<div th:if="${param.logout}">
					<p class="text-warning">Çıkış Yapıldı</p>
				</div>

				<div class="border border-secondary p-3 rounded" >
					<p style = "margin-top:10px">Bilgisayar Teknik Servisine Hoş Geldiniz.</p>

					<p style = "margin-top:20px" th:if = "${loginCondition}">
						"Email Veya Şifre Hatalı."
					</p>

					<p style = "margin-top:20px">
						<input type="text" class="form-control" th:field="*{EMAIL}" placeholder="Enter Username" name="EMAIL" required autofocus>
					</p>
					<p>
						<input type="password"  class="form-control" th:field="*{PASSWORD}" name="PASSWORD"  placeholder="Password"  required />
					</p>

					<p  style = "margin-top:20px" >
						<input type="text" th:if = "${codeCondition}" class="form-control" th:field="*{CODE}" placeholder="Enter Validation Code" name="CODE" required autofocus>
					</p>
					<p>
						<input type="checkbox"  name="remember-me"/>&nbsp;Remember UserName
					</p>
					<p>
						<input type="submit" value="Login" class="btn btn-primary" />
					</p>
					<a href="/register">Hesabınız yok mu? Hemen Oluşturalım.</a>
				</div>
			</form>
		</div>
	</div>
</div>
	<div class="container-fluid text-center">

	</div>
</body>

</html>